<div class="container">
  <div class="d-flex flex-row justify-content-between">
    <div class="flex-column">
      columna 1
      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>26/09/2022</mat-card-title>
          <mat-card-subtitle>La Casa de Papel. Capt5</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/img/1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <p>Eduardo Ruiz
          </p>
          <mat-icon>remove_red_eye</mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
    <div class="flex-column">columna 2
      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>26/09/2022</mat-card-title>
          <mat-card-subtitle>Esta Ciudad es Inaccesible ene Invierno</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/img/2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <p>
            Miriam Rodriguez
          </p>
          <mat-icon>remove_red_eye</mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
    <div class="flex-column">columna 3
      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>26/09/2022</mat-card-title>
          <mat-card-subtitle>Nike La Historia Jamas Contada</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/img/3.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <p>
            Eduardo Jose Ruiz Garcia
          </p>
          <mat-icon>remove_red_eye</mat-icon> 
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
  </div>
</div>