body{
    margin: 0em;
}
.example-card {
    max-width: 400px;
    border: 0 !important;
    box-shadow: 3px 2px 2px 1px wheat;
    text-shadow: 2px 2px 5px black;
    background: white;
    background-size: cover;
    background-position: center;
    margin: 5px 5px 5px 5px;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.mat-card-image {
    
    padding-left: padding-inline-start;
    padding-top: padding-inline-start;
    padding-right: padding-inline-start;
    padding-bottom: padding-inline-start;
    
}  