
.example-card {
    max-width: 300px;
    margin: 10px 10px 10px 10px;
     
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
.mat-card-image {
    
    padding-left: padding-inline-start;
    padding-top: padding-inline-start;
    padding-right: padding-inline-start;
    padding-bottom: padding-inline-start;
    
}  

#views {
  display:block;
  float: left;
  padding: 5px 5px 5px 5px;
}


.mat-card-avatar {

    border: 1px solid #000;
    padding-top:4px;
    float: left;
    display:flex;
    align-items:center;
    justify-content:center
}

#cantd-views{
  display:block;
  float: left;
  padding: 5px;
}

#ctd-minutos{
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}