<app-navbar></app-navbar>
<app-search></app-search>
<div class="container">
  <div class="h-100 d-flex justify-content-between align-items-center">
    <div class="flex-column">
      columna 1
      <mat-card class="example-card " >
        <mat-card-header>
          
          <mat-card-title>26/09/2022</mat-card-title>
          <mat-card-subtitle>La Casa de Papel. Capt5</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/img/1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <p>Eduardo Ruiz
          </p>
          <div id="views">
            <mat-icon>remove_red_eye</mat-icon>
            </div>
            <div id="cantd-views"> <p>20</p> </div>
          
        </mat-card-content>
        <div id="ctd-minutos">
          <p> 00:50:00 </p>
        </div>
        <div id="compartir">
        
         
          <mat-icon>share</mat-icon>
         
        
      </div>
      </mat-card>
      
    </div>
    <div class="flex-column">columna 2
      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>26/09/2022</mat-card-title>
          <mat-card-subtitle>Esta Ciudad es Inaccesible</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/img/2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <p>
            Miriam Rodriguez
          </p>
          <div id="views">
            <mat-icon>remove_red_eye</mat-icon>
            </div>
            <div id="cantd-views"> <p>10</p> </div>
          
        </mat-card-content>
        <div id="ctd-minutos">
          <p> 01:20:00 </p>
        </div>
        <div id="compartir">
        
          
           <mat-icon>share</mat-icon>
          
         
       </div>
      </mat-card>
      
    </div>
    <div class="flex-column">columna 3
      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>26/09/2022</mat-card-title>
          <mat-card-subtitle>Nike La Historia Jamas Contada</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/img/3.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
          <div id="nombre"><p>
            Eduardo Jose Ruiz Garcia
          </p></div>
          <div id="views">
          <mat-icon>remove_red_eye</mat-icon>
          </div>
          <div id="cantd-views"> <p>31</p> </div> 
          
        </mat-card-content>
        <div id="ctd-minutos">
          <p> 00:30:00 </p>
        </div>
        <div id="compartir">
                  
           <mat-icon>share</mat-icon>
                 
       </div>
      </mat-card>
      
    </div>
  </div>
</div>